body {
  color: #E5E4E2;
  background-size: cover;
  margin-top: 50px;
  padding: 30px;
}

header {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
}

header * {
  display: inline;
}

header li {
  margin: 50px;
  text-align: center;
  padding: 25px;
}

header li a {
  color: #E5E4E2;
  text-decoration: none;
  font-size: 20px;
  padding: 16px;
}

header li a.active {
  color: black;
  background-color: #E5E4E2;
  padding: 16px;
}

header ul li a:hover {
  color: black;
  background-color: #E5E4E2;
}
